body{
    text-align: center;
}
*{
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
formLog{
    display: block ;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu_li{
    float: left;
    border-right: 1px solid black;
}
.menu_li:last-child{
    border-right: none;
}
.menu_a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu_a:hover{
    background-color: violet;
}

.Logo{
    height: 50px;
}

.Publi{
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
    z-index: 1;
}
.name{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10em;
    color: #6d37af;
}
.mess{
    z-index: 3;
}
.button{
    text-decoration: none;
    color: black;
}
.formLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea{
    min-width: 500px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color:  #cdb4db;
}
input[type=text]{
    min-width: 500px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color:  #cdb4db;
}
input[type=password]{
    min-width: 500px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #cdb4db;
}
.submit{
    background-color:  #cdb4db;
    border-radius: 4px;
    min-width: 500px;
    width: 500px;
    text-decoration: none;
    padding: 12px 20px;
    cursor: pointer;
}
input{
    padding-bottom: 20px;
}