body{
    background-image: url("../images/fond2.jfif");
    margin: 0px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #FF36AB;
    z-index: 2;
    position: fixed;
    top: 0px;
    right: auto;
    bottom: 0px;
    left: 0px;
    height: auto;
}
.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    transition: 00.2s;
}
.Logo:hover{
    transform: scale(1.15);
}
.Publi{
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
    z-index: 1;
}
.name{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10em;
    color: #6d37af;
}
.mess{
    z-index: 3;
}